{
  "type": "your_keys",
  "project_id": "your_keys",
  "private_key_id": "your_keys",
  "private_key": "your_keys",
  "client_email": "your_keys",
  "client_id": "your_keys",
  "auth_uri": "your_keys",
  "token_uri": "your_keys",
  "auth_provider_x509_cert_url": "your_keys",
  "client_x509_cert_url": "your_keys",
  "universe_domain": "your_keys"
}